<%- include('partials/header') %>

    <div class="container mt-5">
        <a href="/" class="btn btn-lg btn-primary">Go Back</a>
        <h1>Register Your Account Here.</h1>
        <form method="POST" action="/register" autocomplete="off">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" placeholder="Enter Your Email" name="email" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" placeholder="Enter Your Password" name="password" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include('partials/footer') %>